# No Man's Sky gitattributes


# This captures all shader files
# most have a .h in the extension between shader and bin
*.SHADER*.BIN linguist-language=GLSL
# in this repository we're also counting .h as GLSL
*.h linguist-language=GLSL

# all pipeline files begin with pipeline
PIPELINE*.BIN linguist-language=XML
