# No Man's Sky gitattributes
# hgpaktool uses lowercase names

# This captures all shader files
# most have a .h in the extension between shader and bin
*.shader*.bin linguist-language=GLSL
# in this repository we're also counting .h as GLSL
*.h linguist-language=GLSL

# all pipeline files begin with pipeline
pipeline*.bin linguist-language=XML
